body {
    background-color: #200000;
    font-family: Arial, sans-serif;
    color: white;
    margin: 75px 0;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

h2, h3 {
    font-weight: bold;
}

#nadpis {
    margin-bottom: 10px;
}

#podnadpis {
    margin-top: 0px;
    margin-bottom: 25px;
}

.tlacitko {
    background-color: #B33;
    transition: background-color 0.6s ease;
    padding: 10px;
    border-radius: 5px;
}

.tlacitko:hover {
    background-color: #911;
}

#tlacitka a {
    text-decoration: none;
    color: white;
}

#tlacitka {
    text-align: center;
}

.nastaveni {
    margin-top: 10px;
    counter-reset: item;
    list-style-type: none;
}

.nastaveni li {
    line-height: 25px;;
    text-align: center;
}

.nastaveni li:before {
    content: counter(item)") ";
    counter-increment: item;
}

#veciNastaveni {
    margin-bottom: 10px;
}

#nastaveniveci {
    color: #F55;
    margin: 0;
}

.oddeleniPrikazu {
    margin: 10px
}

.prikazy {
    background-color: #B33;
    transition: background-color 0.6s ease;
    padding: 5px;
    border-radius: 5px;
    line-height: 28px;
    margin-right: 5px;
}

.prikazy:hover {
    background-color: #911;
}

.prikazyTabulka {
    border-collapse: collapse;
    margin: 0 auto;
}

.pravo {
    text-align: right;
}