body {
    background-color: #250000;
    font-family: 'AR One Sans', sans-serif;
    color: white;
    margin: 25px 0;
    text-align: center;
}

::-moz-selection {
    color: white;
    background: #F00;
}

::selection {
    color: white;
    background: #F00;
}

#nadpis {
    margin-bottom: 0px;
}

#podnadpis {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #DDD;
}

#tlacitka {
    margin: 20px 0;
}

#tlacitka a {
    color: white;
    text-decoration: none;
}

.tlacitko {
    background-color: #A22;
    transition: background-color 0.6s ease;
    padding: 10px;
    border-radius: 5px;
}

.tlacitko:hover {
    background-color: #800;
    box-shadow: 0 5px 15px #800;
    transition: box-shadow, background-color 0.5s ease;
}

.zvyrazneni {
    color: #F99;
}

#prikazyNadpis {
    margin: 10px 0;
}

.prikaz {
    background-color: #A22;
    width: 50%;
    height: 45px;
    max-width: 400px;
    min-width: 320px;
    margin: 12px auto;
    padding: 17px;
    border-radius: 15px;
    transition: background-color 0.5s ease;
    text-align: left;
}

.prikaz:hover {
    background-color: #800;
    box-shadow: 0 5px 15px #800;
    transition: box-shadow, background-color 0.5s ease;
}

.prikaz h2,
h3 {
    font-size: 16px;
}

.prikaz h3 {
    text-align: left;
    margin: 0;
}

.prikaz img {
    height: 45px;
    float: left;
    margin-right: 15px;
}